@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,400;1,700&family=Ubuntu:wght@300;400;500;700&display=swap');
/*
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/


*{
    cursor: default;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    opacity: 0;
}
::-webkit-scrollbar-thumb {
    background: #6e51ee;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #453299;
}
.name1{
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px ;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
}
.divider{
    background: url(../Asstes/divider-2.png) repeat-y;
    height: 19px;
    width: 100%;
    max-width: 1110px;
    filter: grayscale(1);
    margin: 25px auto;
    padding: 0;
}
.scroll-up-btn i{
    font-size: 16px;
}
.scroll-up-btn{
    position: fixed;
    height: 36px;
    width: 36px;
    background-color: #5f45d3;
    right: 20px;
    text-align: center;
    line-height: 25.5px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 50%;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    bottom: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    background: #453299;
}


/* social */
.social{
    /* display: none; */
    position: fixed;
    top: 21%;
    left: -50px;
    /* opacity: 0; */
    z-index: 1000000;
    transition: 0.51s ease-in-out;
    border-radius: 0 2px 2px 0;
    /* border: 1px solid black; */
}
.social.show{
    left: 0px;
    opacity: 1;
}

.social ul{
    padding: 0;
    margin: 0;
}

.social li{
    list-style: none;
    background-color: #ffffff;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.social li a{
    text-decoration: none;
    color: #000000;
    font-size: 2.5vh;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.social li a i{
    cursor: pointer;
}

.social li:hover{
    background-color: #453299;
}

.social li:hover a{
    color: #fff;
}

/* header start */
.header{
    line-height: 1rem;
    position: absolute;
    width: 100%;
    z-index: 11000;
    transition: 0.2s ease-in-out;
}
.header.fixed{
    position: fixed;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px 5px #00000038;
}

.header .ls{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 4.10vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
.header.fixed .ls{
    color: #000000;
    font-size: 3.46vh;
}

.header .ls span{
    padding: 0 5px;
    margin-top: 2px;
}

.header .ls .logo{
    width: 17vh;
    padding: 15px 0;
    transition: 0.5s ease-in-out;
}
.header.fixed .ls .logo{
    width: 14.34vh;
}

/* section1 start */
.whitetone{
    background-color: #25252556;
    height: 100vh;
    opacity: 0.25;
    filter: blur(100) !important;
    width: 100%;
    position: absolute;
}
.section1{
    background: url(../Asstes/wallpaper2.jpg) no-repeat center;
    /* display: flex; */
    height: 100vh;
    position: relative;
    color: #fff;
    background-size: cover;
}
.section1 .content{
    padding: 30vh 0 0 0;
}
.section1 .content .text{
    display: flex;
    flex-direction: column;
    height: 70vh;
    font-size: 3.36vh;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section1 .content .text .span2{
    color: #ffffff; 
    font-size: 5.66vh;  
}

/* section2 start */
.section2{
    padding: 100px 15px 5px;
}
.section2 .img{
    padding: 0 5%;
    overflow: hidden;
    margin-bottom: 35px;
}
.section2 .img img{
    width: 100%;
    transition: 0.5s ease-in-out;
}
.section2 .img img:hover{
    transform: scale(105%);
}
.section2 .name1{
    text-align: center;
    margin-bottom: 70px;
}
.section2 p{
    text-align: justify;
    font-size: 2.66vh;
    letter-spacing: 0.71px;
}
.section2 p i{
    color: #453299;
}

/* section3 */
.section3{
    padding: 50px 15px 5px;
}
.section3 .name1{
    text-align: center;
    margin-bottom: 70px;
}
.section3 .box{
    margin: 15px 0;
    padding: 25px;
    background-color: #c7c7c71f;
}
.section3 .box .box-content{
    padding: 10px;
}
.section3 .box .box-icon img{
    width: 50px;
    display: block;
    margin: 0px auto;
}
.section3 .box .box-content .box-heading{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding: 15px 0;
    color: #453299;
    font-weight: 500;
}
.section3 .box .box-content .more-link{
    display: none;
}
.section3 .box .box-content .more{
    cursor: pointer;
    color: #453299;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.section3 .box .box-content p{
    text-align: justify;
    font-size: 2.66vh;
    letter-spacing: 0.71px;
}

/* section4 */
.section4{
    padding: 50px 15px 5px;
}
.section4 .name1{
    text-align: center;
    margin-bottom: 70px;
}
.section4 iframe{
    width: 100%;
}
.section4 .data{
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 .data img{
    width: 100px;
    padding: 15px 0;
}
.section4 .data .company-name{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 0;
    color: #000000;
    font-weight: 500;
}
.section4 .data .address{
    text-align: justify;
    padding-bottom: 5px;
    font-size: 2.66vh;
    letter-spacing: 0.71px;
}
.section4 .data i,
.section4 .data a{
    padding-bottom: 5px;
    text-decoration: none;
    color: #000000;
    margin: 5px 0;
    border-bottom: 0px transparent;
    transition: 0.2s  ease-in-out;
    font-size: 2.66vh;
}
.section4 .data a:hover{
    border-bottom: 1px dashed #453299;
}
@media (max-width: 768px) {
    
}